.card_container {
  background: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 8px;
  border-radius: 8px;
  padding: 8px;
}

.card_title {
  text-align: center;
  height: 15%;
  font-size: 1.2rem;
  font-weight: 700;
}

.card_img {
  width: 60%;
}

.product_price {
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
}

.product_buttons {
  display: flex;
  flex-direction: column;
	align-items: center;
  padding: 8px;
  column-gap: 4px;
}

.quantity_input_container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
  column-gap: 4px;
}

.minus_button,
.plus_button {
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: rgb(218, 218, 17);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_quantity {
  text-align: center;
  width: 40%;
  padding: 8px 0;
}

.add_to_cart_button {
	border: none;
	padding: 8px 0;
	width: 50%;
	border-radius: 16px;
	font-size: 1.	;
	font-weight: 700;
	background-color: rgb(8, 47, 47);
	color: white;
}
